{% extends 'base.html.twig' %}

{% block title %}Cadeau index{% endblock %}

{% block body %}
    <h1>Cadeau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>AgeParfait</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cadeau in cadeaus %}
            <tr>
                <td>{{ cadeau.id }}</td>
                <td>{{ cadeau.nom }}</td>
                <td>{{ cadeau.ageParfait }}</td>
                <td>
                    <a href="{{ path('cadeau_show', {'id': cadeau.id}) }}">show</a>
                    <a href="{{ path('cadeau_edit', {'id': cadeau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cadeau_new') }}">Create new</a>
{% endblock %}
